.section-2, .section-3 {
	padding: 45px 0;
}
.top-rated, .most-recent {
	margin-top: 25px;
	cursor: pointer;
	transition: .3s;
	.description {
		position: relative;
		right: 0;
		left: 0;
		.duration {
			.btn-watch {
				margin-left: 0;
			}
		}
	}
	&:hover {
		.description-2 {
			visibility: hidden;
		}
		.btn-watch {
			background: url("../img/btn-hover.png");
			background-size: cover;
			color: #ffffff;
		}
	}
}
.top-rated {
	.video-block, .img-block {
		position: relative;
		height: 304px;
		video {
			width: 100%;
			height: 100%;
		}
	}
}
.most-recent {
	.img-block {
		height: 257px;
	}
	.description {
		padding: 13px 5px;
	}
	.btn-watch {
		padding: 11px 20px 11px 32px;
		span {
			margin-left: 0;
		}
	}
}
